.addproduct-container{
    .form-container{
        padding: 20px;
        min-height: calc(100vh - 290px);
        form{
            
            display: flex;
            .col{
                padding: 20px 40px;
                flex-basis:50%;
                .form-group{
                    padding: 5px;
                    margin-bottom: 20px;
                    width: 100%;
                    display: flex;
                    .validation{
                        text-align: center;
                        padding: 10px;
                    }
                    .label-container{
                        padding:5px;
                        min-width: 150px;
                        
                        label{
                            font-size: 22px;
                            font-weight: 600;
                        }
                    }
                    input, select{
                        font-size: 22px;
                    }
                    input{
                        padding: 5px;
                        background-color: #f1f1f1;
                        border-radius: 5px;
                        border: solid #818181 1px;
                        caret-color: transparent;
                        transition: 0.2s;
                        &:focus{
                            outline: none;
                            background-color: white;
                        }
                    }
                    &.selector{
                        flex-direction: column;
                        select{
                            width: 67%;
                            font-size: 22px;
                            padding: 5px;
                            text-align: center;
                            background-color: #f1f1f1;
                            border-radius: 5px;
                            border: solid #818181 1px;
                            outline: none;
                        }
                    }
                    &.description{
                        
                    }
                    
                }
                &.col-one{
                    // background-color: red;
                }
            }
            
        }
    }
}