.products-container{
    
    .items-container{
        min-height: calc(100vh - 250px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .loading{
            text-align: center;
        }
    }
}